
* {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #000;
}

h1{
  text-align: center;
  color: #EFF4F3;;
  margin: 0;
  padding-top: 25px;
}

.info{
  text-align: center;
  color: #EFF4F3;;
}

img{
  margin-top: 75px;
  border-radius: 50%;
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #fff;
}

.btn{
  text-align: center;
  color: #fff;
  background-color:#60656b;
  border-radius: 50px;
  padding:10px 50px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border: solid 2px #fff;
}

.btn:hover{
  transition: 0.3s;
  background-color: #ADD8E6;
}

.intro{
  margin-top: 0;
  background:  url('./images/starwars.jpg');
  padding-bottom: 50px;
  z-index: 1;
  background-size: cover;
  width: 100%;
}

.sections{
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  margin: 90px;
  font-weight: 300;
  background-color: #EFF4F3;
  box-shadow: 2px 5px grey;
}

footer{
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  margin: 50px;
  background-color: #EFF4F3;;
  margin: 0;
  box-shadow: 2px 5px grey;

}

.social-icon{
  font-size: 40px;
}


ul > li {
  display: inline-block;
}
.social-icon {
  font-size: 40px;
  color: gray;
  margin-right: 20px;
}

.social-icon:hover {
  color: #ADD8E6;
  transition: 0.3s;
}

/* Media Queries */

/* @media (min-width: 500px) {
  .sections {
    width: 700px;
  }
} */
